@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

* {
  font-family: "DM Sans", "sans-serif";
}
body {
  background-color: black;
}
.line{
  @apply overflow-hidden;
}
.word{
  @apply translate-y-full
}

.hero-1{
  animation-name:anime1 ;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.jelly-shape{
  animation-name:anime1 ;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes anime1 {
  from{
    transform: translate(-20%, 10%);
  }
  to{
    transform: translate(10%, -20%,);

  }
}
