@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  font-family: "lato", "poppins";
}
body {
  background-color: black;
}
.line {
  @apply overflow-hidden;
}
.word {
  @apply translate-y-full;
}

.hero-1 {
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.jelly-shape {
  animation-name: anime1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes anime1 {
  from {
    transform: translate(-20%, 10%);
  }
  to {
    transform: translate(10%, -20%);
  }
}

.slidein {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: bottom;
}
.slideout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
  transform-origin: top;
}
h3:hover{
  cursor: pointer;
  color: rgba(255, 255, 255, 0.752);
}
ul li:hover{
  cursor: default;
}
/* .featurecard:hover {
  background-color: ;
} */